body,html{

    padding:0;
    margin: 0;
    overflow-x: hidden;
}
.subtitle{
  
    text-align:center;
    position:relative;
    top:-20px;
  }
  #title{
    
    text-align:center;
    
  }
  
  h1{
    
    font-size:50px;
  }
  body{
    width: 100%;
    border-radius:20px;
    background-color:lightgray;
  }
  
  #img-div{
    text-align:center;
    border:10px;
    position:relative;
    top:-30px;
    
  }
  img{
    max-width:100%;
    max-width:800px;
    height:auto;
    display:block;
  }
  #image{
    max-width:1024px;
    width:auto;
    height:auto;
    border-width:100px;
    border-color:rgb(10,90,90);
    border-style:solid;
    border-radius:20px;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
  
  #img-caption{
    
    font-size:30px;
    position:relative;
    bottom:70px;
  }
  #tribute-info{
    text-align:center;
    position:relative;
    top:-20px;
    font-size:40px;
    }
  ul{
    
    /*display:table;
    margin: 0 auto;*/
    position:relative;
    left:300px;
    font-size:23px;
   
    
    
  
  }
  
    
  
  li{
    
    line-height:75px;
  
  }
  #newline{
    
    position:relative;
    left:66px;
    bottom:23px;
  }
  #quote{
   width:800px;
    font-size:23px;
    position:relative;
    text-align:center;
    left:270px;
      bottom:30px;
    margin-top:80px;
      
  }
  #person{
    font-size:23px;
    text-align:center;
    
  }
  #tribute-link{
    color:green;
  }
  footer{
    font-size:20px;
    margin-top:40px;
  }
  