#todo{


    font-size: 20px;

}

table{
    
  
  border-collapse: collapse;
  margin: 30px;

    
  
    
}

table th{
   
    text-align: left;
    padding: 10px 40px 10px 10px;
}
table td{
   
     padding:5px ;
    border: 1px solid grey;
    

}
table td:nth-child(1){
   color: rgb(0, 0, 0);
    background-color: rgb(216, 138, 138);
   

}


.rmv-btn{


    position:absolute;
    left: 340px;
    transform: translateY(-24px);
    
    
    
    
 
    

}